page-create-order {
  .cretaForm{
    .create-order-btn{
      font-size: 1.8rem;
    }
  }
  .create-order-btn{
    font-size: 1.8rem;
  }
    .card{
      .card-content{
        padding: 0;
        .code{
          background: #ff0;
        }
        .asscode{
          background: #ff0;
        }
        .numBtn{
          margin: 0;
          //border-radius: 50%;
          height: 2.1rem;
          .my_icon{
            padding: 0;
          }
        }
        .detail-num{
          p{
            height: 100%;
            padding-top: .5rem;
          }
        }
        .detail-num-input{
          ion-input{
            input{
              margin: 0;
              padding-top: .5rem;
              text-align: center;
            }
          }
          input{
            padding-top: .5rem;
            text-align: center;
          }
        }
      }
    }
  .error{
    background: #ff0;
  }
  .receipt-memo{
    textarea{
      border: 1px solid #ccc;
      margin: 0;
    }
  }
}
