page-search-order {
    .my_select{
      max-width: 100%;
      padding: 5px;

    }
    .my_datetime{
      padding: 5px;
    }
    .my_cards_header{
      padding: 0;
    }
    .my_cards_content{
      padding-bottom: 0;
      padding-right: 0;
      padding-left: 0;
    }

}
