<ion-header>

  <ion-navbar>
    <ion-title>退单管理</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <!--<form [formGroup]="form" *ngIf="settingsReady">
    <ion-list *ngIf="page == 'main'">
      <ion-item>
        <ion-label>{{ 'SETTINGS_OPTION1' | translate }}</ion-label>
        <ion-toggle formControlName="option1"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>{{ 'SETTINGS_OPTION2' | translate }}</ion-label>
        <ion-input formControlName="option2"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>{{ 'SETTINGS_OPTION3' | translate }}</ion-label>
        <ion-select formControlName="option3">
          <ion-option value="1" checked="true">1</ion-option>
          <ion-option value="2">2</ion-option>
          <ion-option value="3">3</ion-option>
        </ion-select>
      </ion-item>

      <button ion-item [navPush]="subSettings" [navParams]="profileSettings">
        {{ 'SETTINGS_PROFILE_BUTTON' | translate }}
      </button>
    </ion-list>

    <ion-list *ngIf="page == 'profile'">
      <ion-item>
        <ion-label>{{ 'SETTINGS_OPTION4' | translate }}</ion-label>
        <ion-input formControlName="option4"></ion-input>
      </ion-item>
    </ion-list>
  </form>-->
  <ion-list>
    <button ion-item (click)="openItem('W')" *userAuthor="'W'">
      <ion-avatar item-start>
        <img [src]="'assets/img/speakers/order_rtn_wash.png'" />
      </ion-avatar>
      <h2>退代洗订单</h2>
      <!--<ion-note item-end>123</ion-note>-->
      <!--<ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>-->
    </button>
    <button ion-item (click)="openItem('S')" *userAuthor="'S'">
      <ion-avatar item-start>
        <img [src]="'assets/img/speakers/order_rtn_sterilized.png'" />
      </ion-avatar>
      <h2>退灭菌订单</h2>
      <!--<ion-note item-end>123</ion-note>-->
      <!--<ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>-->
    </button>
    <button ion-item (click)="openItem('R')" *userAuthor="'R'">
      <ion-avatar item-start>
        <img [src]="'assets/img/speakers/order_rtn_rent.png'" />
      </ion-avatar>
      <h2>退租赁订单</h2>
      <!--<ion-note item-end>123</ion-note>-->
      <!--<ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>-->
    </button>
  </ion-list>

</ion-content>
