<!--
  Generated template for the ChangePasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>修改密码</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <form [formGroup]="changePwdFrom">
    <ion-item>
      <ion-label>账号</ion-label>
      <ion-input type="text" [formControlName]="'loginName'"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>旧密码</ion-label>
      <ion-input type="password" [formControlName]="'oldPwd'"></ion-input>
      <ion-note item-end style="color: #f00;" *ngIf="changePwdFrom.get('oldPwd').dirty&&changePwdFrom.get('oldPwd').errors"><ion-icon name="alert"></ion-icon></ion-note>
    </ion-item>
    <ion-item>
      <ion-label>新密码</ion-label>
      <ion-input type="password" [formControlName]="'newPwd'"></ion-input>
      <ion-note item-end style="color: #f00;" *ngIf="changePwdFrom.get('newPwd').dirty&&changePwdFrom.get('newPwd').errors"><ion-icon name="alert"></ion-icon></ion-note>
    </ion-item>
    <ion-item>
      <ion-label>确认密码</ion-label>
      <ion-input type="password" [formControlName]="'newPwd1'"></ion-input>
      <ion-note item-end style="color: #f00;" *ngIf="changePwdFrom.get('newPwd1').dirty&&changePwdFrom.get('newPwd1').errors"><ion-icon name="alert"></ion-icon></ion-note>
      <ion-note item-end style="color: #f00;" *ngIf="changePwdFrom.get('newPwd1').dirty&&changePwdFrom.errors?.confirmPwd&&!changePwdFrom.get('newPwd1').errors"><ion-icon name="alert"></ion-icon></ion-note>
    </ion-item>
    <div padding>
      <button ion-button block (click)="changePwd()" >修改</button>
    </div>
  </form>
</ion-content>
