<ion-header>

  <ion-navbar>
    <!--<ion-title>{{ 'SEARCH_TITLE' | translate }}</ion-title>-->
    <ion-title>建单管理</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <!--<ion-searchbar (ionInput)="getItems($event)" placeholder="{{ 'SEARCH_PLACEHOLDER' | translate }}"></ion-searchbar>
  <ion-list>
    <button ion-item (click)="openItem(item)" *ngFor="let item of currentItems">
      <ion-avatar item-start>
        <img [src]="item.profilePic" />
      </ion-avatar>
      <h2>{{item.name}}</h2>
      <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>
    </button>
  </ion-list>-->
  <ion-list>
    <button ion-item (click)="openItem('W')" *userAuthor="'W'">
      <ion-avatar item-start>
        <img [src]="'assets/img/speakers/order_wash.png'" />
      </ion-avatar>
      <h2>代洗订单</h2>
      <!--<ion-note item-end>123</ion-note>-->
      <!--<ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>-->
    </button>
    <button ion-item (click)="openItem('S')" *userAuthor="'S'">
      <ion-avatar item-start>
        <img [src]="'assets/img/speakers/order_sterilized.png'" />
      </ion-avatar>
      <h2>灭菌订单</h2>
      <!--<ion-note item-end>123</ion-note>-->
      <!--<ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>-->
    </button>
    <button ion-item (click)="openItem('R')" *userAuthor="'R'">
      <ion-avatar item-start>
        <img [src]="'assets/img/speakers/order_rent.png'" />
      </ion-avatar>
      <h2>租赁订单</h2>
      <!--<ion-note item-end>123</ion-note>-->
      <!--<ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>-->
    </button>
  </ion-list>
</ion-content>
