page-search-refund {
  .my-toolbar{
    padding: 0;
    transition: all 2s;
  }
  .my_refund_s_grid{
    padding: 0;
    background: #fff;
    padding-left: 16px;
    .my_refund_s_row{
      border-bottom: 1px solid #c8c7cc;
      .my_refund_s_col{
        padding-left: 0;
        .item-inner{
          border-bottom: none;
        }
        @media all and (max-width:350px) {
          ion-datetime{
            font-size: 1.4rem;
          }
        }
      }
    }
  }
  .my_cards_header{
    padding: 0;
  }
  .my_cards_content{
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;
    ion-grid{
      padding: 0;
      .my_refund_row_btn{
        ion-col{
          padding: 0;
        }
      }
    }
  }
}
